---
import { ActionError } from 'astro:actions';
import { getEntry, render } from 'astro:content';

import ContainerLayout from '@/layouts/ContainerLayout.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { SPECIAL_PAGES } from '@/utils/constants';

const about = await getEntry('articles', SPECIAL_PAGES.about);
if (!about) {
  throw new ActionError({
    message: 'About page was not found',
    code: 'NOT_FOUND'
  });
}
const { Content } = await render(about);
---

{
  about && (
    <MainLayout>
      <ContainerLayout>
        <article data-pagefind-body>
          <h1>About</h1>
          <Content />
        </article>
      </ContainerLayout>
    </MainLayout>
  )
}
