---
interface Props {
  created: Date;
  updated?: Date | null;
  style?: 'full' | 'compact';
}

const { created, updated, style = 'full' } = Astro.props;

const dateOptions: Intl.DateTimeFormatOptions = {
  dateStyle: style === 'full' ? 'medium' : 'short',
  timeStyle: style === 'full' ? 'short' : undefined
};

const locale = navigator.language ?? 'en-US';
---

<div class="jl-article-meta">
  <p class="jl-article-meta-created">
    Posted: <span>{created.toLocaleString(locale, dateOptions)}.</span>
  </p>
  {
    updated && (
      <p>
        Updated: <span>{updated.toLocaleString(locale, dateOptions)}.</span>
      </p>
    )
  }
</div>

<style>
  .jl-article-meta {
    display: flex;
    gap: var(--jl-spacing-sm);
    flex-wrap: wrap;
    font-size: var(--jl-font-size-small);
    color: var(--jl-color-text-secondary);
    /* margin-block-end: var(--jl-spacing-md); */
    /* margin-inline-start: auto; */

    & p {
      margin-block-end: 0px;
    }

    & p > span {
      font-style: italic;
      font-weight: var(--jl-font-weight-medium);
    }
  }

  .jl-article-meta-created {
    display: inline-flex;
    flex-direction: row;
    gap: var(--jl-spacing-xxs);
    align-items: center;
  }
</style>
