---
import type { CollectionEntry } from 'astro:content';

import ArticleCard from './ArticleCard.astro';

interface Props {
  articles: CollectionEntry<'articles'>[];
}

const { articles } = Astro.props;
---

<ul>
  {
    articles.map(article => (
      <li>
        <ArticleCard article={article} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--jl-spacing-lg);
    list-style: none;
    padding: 0px;
  }

  li {
    flex: 1 300px;
  }
</style>
