<aside id="jl-aside-nav">
  <div class="jl-logo">
    <a href="/">JotLynx</a>
  </div>

  <slot />
</aside>

<style>
  aside {
    --jl-aside-nav-height: calc(100dvh - var(--jl-spacing-xxs) * 2);

    position: sticky;
    top: var(--jl-spacing-xxs);
    display: flex;
    flex-direction: column;
    background-color: var(--jl-color-bg-darker);
    border-radius: var(--jl-br-sm);
    box-shadow: var(--jl-elevation-2);
    height: var(--jl-aside-nav-height);
    max-height: var(--jl-aside-nav-height);
    margin-inline: var(--jl-spacing-xxs);
    padding: var(--jl-spacing-lg) var(--jl-spacing-md);
    width: min(25dvw, 250px);
    overflow-y: hidden;
  }

  @media (max-width: 767px) {
    aside {
      display: none;
    }
  }

  .jl-logo {
    color: var(--jl-color-accent);
    font-size: 140%;
    margin-block-end: 60px;
  }
</style>
