---
import CloseIcon from '@assets/icons/close.svg';
import MenuIcon from '@assets/icons/menu.svg';
---

<div class="jl-mobile-menu-container">
  <input aria-label="Open menu" type="checkbox" id="jl-mobile-menu-checkbox" />
  <label for="jl-mobile-menu-checkbox" class="jl-menu-btn">
    <div class="jl-menu-icon-wrapper">
      <MenuIcon />
    </div>
    <div class="jl-close-icon-wrapper">
      <CloseIcon />
    </div>
  </label>

  <section id="jl-mobile-menu-dialog">
    <slot />
  </section>
</div>

<script>
  const container = document.querySelector('.jl-mobile-menu-container');
  const menuCheckbox = document.querySelector(
    '#jl-mobile-menu-checkbox'
  ) as HTMLInputElement | null;

  const handleOutClick = (e: Event) => {
    if (container?.contains(e.target as Node)) return;

    if (menuCheckbox) {
      menuCheckbox.checked = false;
    }
  };

  document.addEventListener('click', handleOutClick);
</script>

<style>
  @media (min-width: 768px) {
    .jl-mobile-menu-container {
      display: none;
    }
  }

  #jl-mobile-menu-checkbox {
    display: none;
  }

  .jl-menu-btn {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: var(--jl-br-full);
    color: var(--jl-color-text);
    cursor: pointer;
    font-size: 1.375rem;
    width: var(--jl-size-btn-md);

    &:hover {
      background-color: var(--jl-color-bg-darker);
    }

    &:active {
      background-color: var(--jl-color-bg-dark);
    }
  }

  section {
    position: fixed;
    top: var(--jl-mobile-nav-height);
    left: -100dvw;
    background-color: var(--jl-color-bg-darker);
    border-radius: var(--jl-br-sm);
    box-shadow: var(--jl-elevation-2);
    margin: var(--jl-spacing-md);
    height: calc(
      100dvh - var(--jl-mobile-nav-height) - var(--jl-spacing-md) * 2
    );
    padding: var(--jl-spacing-lg) var(--jl-spacing-xl);
    transition: 0.4s left ease;
    width: calc(100dvw - var(--jl-spacing-md) * 2);
    z-index: 10;
  }

  .jl-close-icon-wrapper {
    display: none;
  }

  input:checked {
    & ~ section {
      left: 0;
    }

    & ~ label .jl-close-icon-wrapper {
      display: block;
    }

    & ~ label .jl-menu-icon-wrapper {
      display: none;
    }
  }
</style>
