---
import config from '@/website.config.json';

const { pathname } = Astro.url;

let currPath: string =
  pathname.endsWith('/') && pathname !== '/' ? pathname.slice(0, -1) : pathname;
currPath = currPath.split('/').at(-1)!;

const isCurrent = (path: string): boolean => {
  const normalizedPath = path.replace('/', '');
  return normalizedPath === currPath;
};
---

<nav>
  <ul class="jl-nav-list">
    <li>
      <a
        href="/articles"
        class:list={{ 'jl-nav-current': isCurrent('/articles') }}
        aria-label="To articles page"
      >
        Articles
      </a>
    </li>
    <li>
      <a
        href="/tags"
        class:list={{ 'jl-nav-current': isCurrent('/tags') }}
        aria-label="To tags page"
      >
        Tags
      </a>
    </li>
    {
      config.hasAbout && (
        <li>
          <a
            href="/about"
            class:list={{ 'jl-nav-current': isCurrent('/about') }}
            aria-label="To about page"
          >
            About
          </a>
        </li>
      )
    }
  </ul>
</nav>

<style>
  .jl-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--jl-spacing-xxl);
    list-style: none;
    padding-inline: 0px;
  }

  a {
    text-decoration: none;
  }

  a:hover,
  .jl-nav-current {
    text-decoration: var(--jl-outline-w-md) var(--jl-color-accent) underline
      dashed;
  }
</style>
