<div role="presentation" class="jl-close-icon-container">
  <div></div>
  <div></div>
</div>

<style>
  .jl-close-icon-container {
    --jl-close-icon-stroke-width: calc(1em / 7);

    position: relative;
    aspect-ratio: 1 / 1;
    height: 1em;
    width: auto;

    & > div {
      position: absolute;
      top: calc(50% - var(--jl-close-icon-stroke-width) / 2);
      background-color: currentColor;
      border-radius: 3rem;
      height: var(--jl-close-icon-stroke-width);
      width: 100%;
      transform-origin: center;
    }

    & > div:first-of-type {
      transform: rotateZ(45deg);
    }

    & > div:last-of-type {
      transform: rotateZ(-45deg);
    }
  }
</style>
