<div role="presentation">
  <div class="jl-menu-icon-row-container">
    <span></span>
    <span></span>
  </div>
  <div class="jl-menu-icon-row-container">
    <span></span>
    <span></span>
  </div>
  <div class="jl-menu-icon-row-container">
    <span></span>
    <span></span>
  </div>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    aspect-ratio: 1 / 1;
    height: 1em;
    width: auto;
  }

  .jl-menu-icon-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 0.125em;
    height: calc(1em / 7);
    width: 100%;

    & > span {
      height: 100%;
      background-color: currentColor;
      border-radius: 3rem;
    }

    & > span:first-of-type {
      aspect-ratio: 1 / 1;
      width: auto;
    }

    & > span:last-of-type {
      width: 100%;
    }
  }
</style>
