<div class="jl-container">
  <slot />
</div>

<style>
  .jl-container {
    max-width: var(--jl-content-max-width);
    margin: 0 auto;
    padding: 0 var(--jl-spacing-lg);
    height: 100%;
    width: 100%;
  }
</style>
