---
import Head, { type Props as HeadProps } from '@components/Head.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import config from '@/website.config.json';

import '@fontsource-variable/lora';
import '@fontsource-variable/open-sans';
import '@fontsource-variable/open-sans/wght-italic.css';

import '@/styles/reset.css';
import '@/styles/base.css';
import '@/styles/components.css';
import '@/styles/custom.css';

type Props = HeadProps;

const { title, description, keywords, ogImage } = Astro.props;
---

<html lang={config.meta.htmlLang || 'en'} dir={config.meta.dir || 'ltr'}>
  <Head
    title={title}
    description={description}
    keywords={keywords}
    ogImage={ogImage}
  />

  <body>
    <Header />

    <main id="jl-main">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  #jl-main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    min-height: calc(
      100dvh - var(--jl-header-height) - var(--jl-footer-height)
    );
  }
</style>

<script>
  import { getColorScheme, handleHtmlProp } from '@/utils/colorScheme';

  handleHtmlProp(getColorScheme());

  document.addEventListener('astro:before-swap', e => {
    handleHtmlProp(getColorScheme(), e.newDocument.documentElement);
  });
</script>
