---
import ArticlesList from '@components/ArticlesList.astro';
import Head from '@components/Head.astro';
import LeftAside from '@components/LeftAside.astro';
import MobileNav from '@components/MobileNav.astro';

import '@fontsource-variable/lora';
import '@fontsource-variable/open-sans';
import '@fontsource-variable/open-sans/wght-italic.css';

import '@/styles/reset.css';
import '@/styles/base.css';
import '@/styles/components.css';
---

<html lang="en">
  <Head />

  <body>
    <LeftAside>
      <ArticlesList />
    </LeftAside>
    <MobileNav>
      <ArticlesList />
    </MobileNav>

    <main id="jl-main">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @layer reset, base, components;

  body {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);

    /* blocks scrolling when mobile nav is open */
    &:has(#jl-mobile-menu-checkbox:checked) {
      overflow: hidden;
    }
  }

  #jl-main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
  }

  @media (max-width: 767px) {
    body {
      display: flex;
      flex-direction: column;
    }
  }

  /* @media (max-width: 767px) {
    #jl-main {
      display: flex;
      flex-direction: column-reverse;
    }
  } */
</style>
