---
import Head from '@components/Head.astro';
import Header from '@/components/Header.astro';
import config from '@/config';

import '@fontsource-variable/lora';
import '@fontsource-variable/open-sans';
import '@fontsource-variable/open-sans/wght-italic.css';

import '@/styles/reset.css';
import '@/styles/base.css';
import '@/styles/components.css';
---

<html lang={config.htmlLang || 'en'}>
  <Head />

  <body>
    <Header />

    <main id="jl-main">
      <slot />
    </main>
  </body>
</html>

<style>
  #jl-main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
  }
</style>
