---
import AsideNav from '@components/AsideNav.astro';
import Head from '@components/Head.astro';

import '@fontsource-variable/lora';
import '@fontsource-variable/open-sans';
import '@fontsource-variable/open-sans/wght-italic.css';

import '@/styles/reset.css';
import '@/styles/base.css';
import '@/styles/components.css';
---

<html lang="en">
  <Head />

  <body>
    <AsideNav />
    <main id="jl-main">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @layer reset, base, components;

  body {
    display: grid;
    grid-template-columns: min(18dvw, 240px) 1fr;
  }
</style>
